.vscode/
.idea/
.DS_Store

.env
**/.env
.env.*
**/.env.*
!/.env.example

*.pyc
*.pyo
__pycache__/
.venv/
*.egg
*.egg-info/
.pytest_cache/
.mypy_cache/

node_modules/
dist/
coverage/
.vite/
docs/
data_loaders/pipelines/outputs/

*.md
!README.md

data/
backend/data/auth.db
logs/
