NEO4J_URI=bolt://host.docker.internal:7688
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=change_me
NEO4J_DATABASE=neo4j
MLFLOW_TRACKING_URI=http://host.docker.internal:5000
MLFLOW_EXPERIMENT_NAME=pharma_graph_modeling
MLFLOW_REGISTER_MODEL=true
MODEL_REGISTRY_NAME=protein_target_model
MODEL_TYPE=logistic_regression
TASK_TYPE=classification
LABEL_STRATEGY=heuristic_binary
TRAIN_TEST_SEED=42
TEST_SIZE=0.2
VALIDATION_SIZE=0.1
ENABLE_XGBOOST=false
WRITEBACK_SCORES=false
LOG_LEVEL=INFO
